<mat-toolbar #toolbar class="mat-elevation-z8 font-weight-bold fixed-top bg-header">
  <mat-toolbar-row>
      <a class="navbar-brand mr-auto">
          <img src="assets/scratch.png" width="44" height="33" class="d-inline-block align-top mr-2" alt="">
          <span class="fix-brand-title font-weight-bold text-white">Scratch進階專案檢索工具</span>
      </a>
<!--
    <mat-form-field class="ml-auto mr-auto">
      <input type="search" matInput >
      <button matSuffix mat-icon-button>
        <mat-icon>search</mat-icon>
        </button>
    </mat-form-field> -->
  </mat-toolbar-row>
</mat-toolbar>
